Repository akhmetgali/citest: changes, and which Atlantis projects are due for each by the changed paths.
All: create-ec2, create-ec2-terragrunt

create-ec2:
  dir: ./modules/create-ec2
  workflow: myworkflow
  workspace: default
  terraform_version: v0.11.0
  apply_requirements:
  - mergeable

create-ec2-terragrunt:
  dir: ./modules/create-ec2-terragrunt
  workflow: terragrunt
  workspace: default
  terraform_version: v0.11.0
  apply_requirements:
  - mergeable

Edit circle ci and atlantis
  .idea/workspace.xml
  modules/create-ec2-terragrunt/main.tf
Due: create-ec2-terragrunt

Edit circle ci and atlantis
  .idea/workspace.xml
  modules/create-ec2-terragrunt/terraform.tfvars
Due: none

Edit circle ci and atlantis
  .idea/workspace.xml
  atlantis.yaml
  modules/create-ec2-terragrunt/terraform.tfvars
Due: none

Edit circle ci and atlantis
  .idea/workspace.xml
  modules/create-ec2-terragrunt/main.tf
  modules/create-ec2-terragrunt/terraform.tfvars
Due: create-ec2-terragrunt

Edit circle ci and atlantis
  .gitignore
Due: none

Test branch
  atlantis.yaml
  modules/ec2-terragrunt/main.tf
  modules/ec2-terragrunt/terraform.tfvars
  modules/ec2-terragrunt/variables.tf
Due: none

Test branch
  modules/ec2-terragrunt/terraform.tfvars
Due: none

Test branch
  modules/ec2-terragrunt/main.tf
Due: none

Test output
  modules/create-ec2/output.tf
  modules/create-ec2/sg.tf
Due: create-ec2

Test output
  modules/create-ec2/terraform.tfvars
Due: none

Add some changes
  atlantis.yaml
  modules/create-ec2-terragrunt/main.tf
  modules/create-ec2/main.tf
  modules/create-ec2/output.tf
  modules/create-ec2/sg.tf
  modules/create-ec2/variables.tf
Due: create-ec2, create-ec2-terragrunt

Path conditions:
  create-ec2: any of: modules/create-ec2/*.tf, modules/modules/**/*.tf
  create-ec2-terragrunt: any of: modules/create-ec2-terragrunt/*.tf, modules/modules/**/*.tf
